.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(70, 117, 0);
    padding: 0 8px;
}

.form-container label input {
    height: auto;
}

.form-container button {
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(70, 117, 0);
    font-size: 18px;
    font-family: italic;
    cursor: pointer;
}

.form-error-message {
    color: red;
}